<div class="top-space">
<div class="row center-xs">

    <div class="row">
     
        <ul class="remove-bullet-points text-left">
          <li>
            <%= link_to "Explorar","#" %>
          </li>
          <li>
            <%= link_to "Sugerencias","#" %>
          </li>
        </ul>   
        <div class="white large-padding">
          <%= render "posts/form" %>
        </div>
        <div id="posts">
         
        </div>
     
    </div>
</div>
</div>