<div class="full-height row middle-xs white-text center-xs main-background no-margin" style="background-color:red;">
<%= grid xs:10,sm:8,md:6,lg:4 do %>
  <div class="big-padding blue text-left white-text">
    <h1 class="no-margin bold light-blue-text no-margin">FacilitoCo</h1>
    <p class="no-margin">Conecta y conoce a otros alumnos de la comunidad Facilito</p>
    <div class="top-space">
      <%= render "devise/registrations/new" %>
    </div>
  </div>
<% end %>
</div>
